@use '../abstracts/variables' as var;

.header {
    &__container {
        position: fixed;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px 5%;
        background-color: var.$primary-color;
        z-index: 999;
    }
    &__logo {
        flex-grow: 2;
        margin: 0;
    }
    &__search-box {
        flex-basis: 100%;
        max-width: 650px;
    }
    &__search {
        width: calc(90% - 64px);
        padding: 10px;
        border: none;
        border-radius: 10px 0 0 10px;
        transition: box-shadow .3s;
        &:focus {
            outline: none;
            box-shadow: 2px 2px 4px rgba(0,0,0,.3);
            
            & + .header__search-btn {
                box-shadow: 2px 2px 4px rgba(0,0,0,.5);
            }
        }
    }

    &__search-btn {
        border: none;
        padding: 10px;
        width: calc(80px - 16px);
        margin-left: -4px;
        border-radius: 0 10px 10px 0;
        background-color: var.$text-color;
        transition: background-color .3s, box-shadow .3s;
        i {
            color: var.$text-white;
        }
        &:hover {
            background-color: var.$secondary-color;
        }
    }
    &__right-box {
        flex-grow: 1;
        text-align: right;
    }
    &__link {
        display: inline-block;
        margin-right: 20px;
        text-align: center;
        &:hover {
            color: var.$secondary-color;
        }
        &:last-child:hover {
            .cart-item {
                color: var.$white-color;
                &::before {
                    background-color: var.$secondary-color;
                }
            }
        }
    }

    &__category-box {
        position: fixed;
        top: 76.8px;
        left: 0;
        right: 0;
        background-color: var.$secondary-color;
        padding: 15px 20px;
        z-index: 999;
    }
    &__category-list {
        width: 70%;
        justify-content: space-evenly;
        margin: 0 auto;
    }
}
.cart-item {
    position: relative;
    top: -18px;
    right: -10px;
    font-size: 16px;
    font-weight: bold;
    color: var.$text-color;
    border-radius: 50%;
    transition: color .3s;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var.$white-color;
        z-index: -1;
        transition: background-color .3s;
    }
}