@use "../abstracts/variables" as var;
.hero {
    position: relative;
    &__text-box {
        position: absolute;
        transform: translateY(-150%);
        margin-left: 150px;
        z-index: 100;
    }
    &__title {
        margin-bottom: 20px;
       & > strong:first-child {
        color: var.$primary-color;
       }
    }
}