html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: 129.2px;
}
img {
    width: 100%;
    height: auto;
}
a {
    transition: all .3s;
    cursor: pointer;
}
ul {
    list-style: none;
}
.flex {
    display: flex;
}
.container {
    max-width: 1200px;
    margin: 80px auto;
}