@use "../abstracts/variables" as var;
button {
    cursor: pointer;
    border: none;
    color: var.$text-white;
}
.btn {
    display: block;
    width: 200px;
    padding: 10px 20px;
    margin: 20px 0;
    text-align: center;
    background-color: var.$primary-color;
    border-radius: 5px;
    transition: background-color .3s, color .3s;
    &:hover {
        color: var.$primary-color;
        background-color: var.$white-color;
    }
}
.btn-circle {
    border-radius: 30px;
}
.hero__btn {
    width: 300px;
    padding: 15px 20px;
}
.product__btn {
    background-color: var.$btn-secondary-color;
}
.btn-details,.btn-add {
    transition: opacity .3s;
    &:hover {
        color: var.$text-white;
        opacity: .8;
    }
}
.btn-details {
    width: calc(100% - 40px);
    &:hover {
        background-color: var.$btn-secondary-color;
    }
}
.btn-add {
    width: 100%;
    font-size: 1.2rem;
    &:hover {
        background-color: var.$primary-color;
    }
}
.btn-check-out {
    width: 100%;
    &:hover {
        color: var.$text-white;
        background-color: var.$secondary-color;
    }
}